@page "/"
@using ChatContracts

<PageTitle>Chat App</PageTitle>

@if (string.IsNullOrEmpty(userName))
{
	<UserInfoCollectionComponent OnUserInfoSaved="OnUserInfoProvided" />


}
else
{

	<div class="row">
		<div class="col-4">
			<h3>Connected Users</h3>
			<table style="width:100%">
				
				<ConnectedUsersComponent LogonUser="@userName" ConnectedUsers="_conntectedUsers" />
			</table>
			
		</div>
		<div class="col-8">
			@if (systemMessages is not null && systemMessages.Count > 0)
			{
				<ul>
					@foreach (var message in systemMessages)
					{
						<li>
							@message
						</li>
					}
				</ul>
			}
		</div>
	</div>
	
}





@code {
	private string userName = string.Empty;
	private string userId = string.Empty;
	private List<string> systemMessages = new List<string>();
	private static List<ConnectedUser> _conntectedUsers = new List<ConnectedUser>();

	private void ReceiveSystemMessage(string message)
	{
		if (string.IsNullOrWhiteSpace(message))
			return;
		systemMessages.Add(message);
		StateHasChanged();
	}
	private async Task OnUserInfoProvided(string userName)
	{
		this.userName = userName;
		this.userId = Guid.NewGuid().ToString();
		await ConnectToServer();
	}
	private async Task ConnectToServer()
	{
		var hubConntection = new HubConnectionBuilder()
			.WithUrl($"http://localhost:5182/chathub?userId={userId}&userName={userName}")
			.Build();
		hubConntection.On<string>("ReceiveSystemMessage", ReceiveSystemMessage);
		hubConntection.On<List<ConnectedUser>>("UpdateUserList", UpdateUserList);
		await hubConntection.StartAsync();

	}
	private void UpdateUserList(List<ConnectedUser> users)
	{
		if (users is null)
			return;
		_conntectedUsers = users;
		StateHasChanged();
	}
}