<h3>
    Bilgilerinizi Girin
</h3>

@if (userInfo is not null)
{
    <EditForm Model="userInfo" OnValidSubmit="SaveUserInfo">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="mb-4">
            <label for="UserName" class="form-label fw-semibold text-secondary">
                Kullanıcı Adınız
            </label>

            <div class="input-group shadow-sm">
                <span class="input-group-text bg-white border-end-0">
                    <i class="bi bi-person text-muted"></i>
                </span>

                <InputText id="UserName"
                           class="form-control border-start-0 py-2"
                           placeholder="Kullanıcı adınızı girin"
                           @bind-Value="userInfo.UserName" />
            </div>

            <ValidationMessage For="@(() => userInfo.UserName)"
                               class="text-danger small mt-1 d-block" />
        </div>

        <div class="row mb-3">
            <div class="col-12">
                <button type="submit"class="btn btn-primary w-100 py-2 fw-semibold shadow-sm rounded-3">Giriş</button>
            </div>
        </div>
    </EditForm>
}

@code {
    private UserInfo userInfo = new UserInfo();

    [Parameter]
    public EventCallback<string> OnUserInfoSaved { get; set; }

    private async Task SaveUserInfo()
    {
        await OnUserInfoSaved.InvokeAsync(userInfo.UserName);
    }

    class UserInfo
    {
        [Required]
        public string UserName { get; set; } = string.Empty;
    }
}
